source https://nuget.org/api/v2

nuget ExtCore
nuget FSharp.Data
nuget FSharp.Formatting
nuget Nuget.CommandLine
nuget FAKE
nuget SharpYaml
nuget SourceLink.Fake
nuget UnionArgParser
nuget FSharp.RDF
nuget xunit 1.9.2
nuget xunit.runners 1.9.2
nuget Unquote
nuget FSharp.Compiler.Service 0.0.87

github fsharp/FAKE modules/Octokit/Octokit.fsx