source https://nuget.org/api/v2

nuget ExtCore
nuget FParsec
nuget FSharp.Collections.ParallelSeq
nuget FSharp.Core 3.1.2.5
nuget FSharp.Data
nuget FSharp.Formatting
nuget NEST
nuget Nuget.CommandLine
nuget FAKE
nuget SharpYaml
nuget SourceLink.Fake
nuget UnionArgParser
nuget FSharp.RDF
nuget Unquote 2.2.2
nuget nunit
nuget NUnit.Runners

github fsharp/FAKE modules/Octokit/Octokit.fsx
github matthid/Yaaf.FSharp.Scripting src/source/Yaaf.FSharp.Scripting/YaafFSharpScripting.fs
