source https://nuget.org/api/v2

nuget ExtCore
nuget FParsec
nuget FSharp.Collections.ParallelSeq
nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.Formatting
nuget NEST
nuget Nuget.CommandLine
nuget FAKE
nuget SharpYaml
nuget SourceLink.Fake
nuget UnionArgParser
nuget FSharp.RDF
nuget xunit 1.9.2
nuget xunit.runners 1.9.2
nuget Unquote 2.2.2

github fsharp/FAKE modules/Octokit/Octokit.fsx
github matthid/Yaaf.FSharp.Scripting src/source/Yaaf.FSharp.Scripting/YaafFSharpScripting.fs